.swiper-slide {
  width: 70%;
}

@media (max-width: 568px) {
  .swiper-slide {
    width: 100%;
  }
}
.swiper-pagination-horizontal {
  bottom: 0rem !important;
}

.category-card {
  background-image: url("/src/assets/product 1/bg.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-button-prev,
.swiper-button-next {
  color: var(--color-primary); /* Change as per your theme */
  top: 45%;
  width: 35px;
  height: 35px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 16px;
  font-weight: bold;
  color: var(--color-primary);
}
