@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", "Montserrat", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
}

/* Paragraphs */
p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
@theme {
  --color-primary: #5ab334a3;
  --color-secondry: #5ab33480;
}
